{% extends "layout.html" %}
  
{% block content %}

<div class="login-wrap">
    <div class="login-html">
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <form method="post" action="" novalidate>
                        <fieldset class="group">
                            <legend class="sign-up tab">{{ title }}</legend>
                            {{ form.hidden_tag() }}
                            <div class="group label">
                                {{ form.email.label }} <br>
                                {{ form.email(size=25) }}
                            </div>
                            <div class="group label">
                                {{ form.password.label }} <br>
                                {{ form.password(size=25) }}
                            </div>
                            <div class="group sign-in">
                                {{ form.remember_me }} {{ form.remember_me.label }}
                            </div>
                            <div class="group">
                                {{ form.submit(class="button") }} 
                            </div>
                            <div class="group sign-in">
                                <p>New User? <a href="{{ url_for('user.new_user')}}">Sign Up</a> here.</p>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
