{% extends "layout.html" %}
  
{% block content %}
<link href="../static/css/profile-style.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey">
<div class="row">
  <div class="profile-nav col-md-3">
      <div class="panel">
          <div class="user-heading round">
              <a href="#">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
              </a>
              <h1>{{ session["user_name"] }}</h1>
              <p>{{ session["user_email"] }}</p>
          </div>

          <ul class="nav nav-pills nav-stacked">
              <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
              <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>
              <li><a href="#"> <i class="fa fa-edit"></i> Edit profile</a></li>
          </ul>
      </div>
  </div>
  <div class="profile-info col-md-9">
     
      <div class="panel">
          
          <div class="panel-body bio-graph-info">
              <h1>{{ title }}</h1>
              <div class="row">
                  <div class="bio-row">
                      <p><span> Name </span>: {{ session["user_name"] }}</p>
                  </div>
                  <!-- <div class="bio-row">
                      <p><span>Last Name </span>: Smith</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Country </span>: Australia</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Birthday</span>: 13 July 1983</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Occupation </span>: UI Designer</p>
                  </div> -->
                  <div class="bio-row">
                      <p><span>Email </span>: {{ session["user_email"] }}</p>
                  </div>
                  <div class="bio-row">
                      <p><span>Mobile </span>: {{ session["user_mobile"] }}</p>
                  </div>
                  <!-- <div class="bio-row">
                      <p><span>Phone </span>: 88 (02) 123456</p>
                  </div> -->
              </div>
          </div>
      </div>
      </div>
  </div>
</div>
</div>
{% endblock %}