{% extends "layout.html" %}
  
{% block content %}
        <div class="container form">
            <form name="register" method="post" action="" novalidate>
                <fieldset class="form-group">
                    <legend>{{ title }}</legend>
                    {{ form.hidden_tag() }}
                    <p>
                            {{ form.user_name.label }} <br>
                            {{ form.user_name(size=35) }}
                            {% for error in form.user_name.errors %}
                                <span class="error-message">
                                    {{ error }}
                                </span>
                            {% endfor %}
                    </p>
        
                    <p>
                        {{ form.mobile.label }} <br>
                        {{ form.mobile(size=10) }}
                        {% for error in form.mobile.errors %}
                            <span class="error-message">
                                {{ error }}
                            </span>
                        {% endfor %}
                    </p>
    
                    <p>
                        {{ form.email.label }} <br>
                        {{ form.email(size=40) }}
                        {% for error in form.email.errors %}
                            <span class="error-message">
                                {{ error }}
                            </span>
                        {% endfor %}
                    </p>
    
                    <p>
                        {{ form.password.label }} <br>
                        {{ form.password(size=15) }}
                        {% for error in form.password.errors %}
                            <span class="error-message">
                                {{ error }}
                            </span>
                        {% endfor %}
                    </p>
    
                    <p>
                        {{ form.confirm_password.label }} <br>
                        {{ form.confirm_password(size=15) }}
                        {% for error in form.confirm_password.errors %}
                            <span class="error-message">
                                {{ error }}
                            </span>
                        {% endfor %}
                    </p>
                    <p>
                            {{ form.submit() }} 
                    </p>
                
                </fieldset>
            </form>
        </div>

{% endblock %}
